<div class="amazon">
  <span class="" style="font-size: 33px;">Amazon</span>
  <div class="" style="margin: 28px;">
    <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-in.amazon-adsystem.com/widgets/q?rt=ss_ssw&ServiceVersion=20070822&MarketPlace=IN&ID=V20070822%2FIN%2Fpostadjust-21%2F8003%2Fb8c634a4-cd9d-449d-8255-c614d506c0b1&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-in.amazon-adsystem.com/widgets/q?rt=ss_ssw&ServiceVersion=20070822&MarketPlace=IN&ID=V20070822%2FIN%2Fpostadjust-21%2F8003%2Fb8c634a4-cd9d-449d-8255-c614d506c0b1&Operation=NoScript">Amazon.in Widgets</A></NOSCRIPT>
  </div>
</div>


<div class="flipkart">
  <span class="" style="font-size: 33px;">Flipkart</span>
  <div class="" style="margin: 28px;">
    <iframe src='http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-141926503515018376' height=55 width=660 scrolling='no' frameborder=0></iframe>
  </div>
</div>

<div class="snapdeal">
  <span class="" style="font-size: 33px;">Snapdeal</span>
  <div class="" style="margin: 28px;">
    <a href="http://www.snapdeal.com?utm_source=aff_prog&utm_campaign=afts&offer_id=17&aff_id=29778" target="_blank"><img src="https://media.go2speed.org/brand/files/jasper/17/20141110193759-300X600.jpg" /></a>
  </div>
</div>